<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abstract Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>
    <h1>Abstract Generator</h1>
    <form action="{{ url_for('generate') }}" method="POST">
        <div>
            <label for="heading">Abstract Heading:</label>
            <input type="text" id="heading" name="heading" required>
        </div>
        <div>
            <label for="student_name">Student Name:</label>
            <input type="text" id="student_name" name="student_name" required>
        </div>

        <div>
            <label for="student_class">Student Class:</label>
            <input type="text" id="student_class" name="student_class" required>
        </div>
        <div>
            <label for="student_rollno">Student Roll no:</label>
            <input type="text" id="student_rollno" name="student_rollno" required>
        </div>

        <div>
            <label for="faculty_name">Faculty Name:</label>
            <input type="text" id="faculty_name" name="faculty_name" required>
        </div>
        <div>
            <label for="body">Abstract Body:</label>
            <textarea id="body" name="body" required></textarea>
        </div>

        <div>
            <label for="ref1">reference 1:</label>
            <textarea id="ref1" name="ref1" required></textarea>
        </div>
        <div>
            <label for="ref2">reference 2:</label>
            <textarea id="ref2" name="ref2" ></textarea>
        </div>
        <div>
            <label for="ref3">reference 3:</label>
            <textarea id="ref3" name="ref3" ></textarea>
        </div>
        <div>
            <label for="ref4">reference 4:</label>
            <textarea id="ref4" name="ref4" ></textarea>
        </div>
        <div>
            <label for="ref5">reference 5:</label>
            <textarea id="ref5" name="ref5" ></textarea>
        </div>
        <div>
            <label for="ref6">reference 6:</label>
            <textarea id="ref6" name="ref6" ></textarea>
        </div>
        

        <button type="submit">Generate Abstract</button>
    </form>
</body>
</html>
